.content-features {
	position: relative;

	ul {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
	}

	@media (max-width: $tablet) {
		ul {
			flex-wrap: wrap;
		}
	}
}

.content-features__title {
	margin-bottom: 1em;
	text-align: center;
	font-size: 2em;
}

.content-features__subtitle {
	margin: 1em auto;
	font-size: 1.5em;
}

.content-features__item {
	display: inline-block;
	width: 30%;
	vertical-align: sub;
	text-align: center;
	font-size: 15px !important;
	line-height: 1.6em;
	font-weight: 400;
	color: $text_color;

	&:not(:last-child) {
		margin-right: 5%;
	}

	img {
		max-width: 100%;
		margin: auto;
	}

	@media (max-width: $tablet) {
		width: 100%;

		&:not(:last-child),
		&:last-child {
			margin-left: 5%;
		}
	}
}

.content-features__icon {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	background: url('../assets/images/feature_item.svg') center no-repeat;
	background-size: contain;
}
