// Home Page layout
.page-template-template-homepage {
	&:not(.has-post-thumbnail) .site-main {
		padding-top: 0;
	}

	.entry-header,
	.entry-content {
		max-width: 100%;
		text-align: left;
	}

	// HP h1
	.entry-title {
		margin-bottom: 42px !important;
		overflow-wrap: break-word;
    text-overflow: ellipsis;
    word-wrap: break-word;
		text-align: center;
	}

	.type-page {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;

		.col-full {
			max-width: 100%;
			padding: 0;
		}
	}
}

// Category
.storefront-product-section {
	ul.products.columns-3 {
		justify-content: center;
	}

	.section-title {
		margin-bottom: 1em;
		text-align: center;
		font-size: 2em;
	}

	&:last-child {
		margin-top: 4em;
	}
}

// Post text style
.entry-content {
	p {
		margin: 1em 0;
	}

	ul {
		list-style-type: square;

		li {
			margin-left: 1.5em;
		}
	}

	h3 {
		margin: 1em 0;
		font-weight: 500;
		font-size: 1.5em;
		color: $gray;
	}
}

// video
.content-video-wrapper {
	width: 100%;
	text-align: center;

	iframe {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}
