// Post text style
.entry-content {
	font-size: 15px !important;
	line-height: 1.6em;
	font-weight: 400;
	color: $text_color;

	p {
		margin: 1em 0;
	}

	ul {
		list-style-type: square;

		li {
			margin-left: 1.5em;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		color: $gray;
		margin: 1em 0;
		font-family: $font_arial;
		font-weight: 500;
	}

	h1 {
		font-size: 1.7em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.5em;
	}

	.metaslider {
		margin-bottom: 5em;
	}
}

// Posted post
.hentry {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.entry-title {
	color: $gray;
	margin: 0 0 1em 0;
	font-family: $font_arial;
	font-weight: 500;
}

h1.entry-title {
	font-size: 1.7em;
}

.hentry.type-post .entry-content {
	width: 100%;
}
