.woocommerce-active .site-header {
	padding-top: 1em;
	background-color: transparent;

	.col-full {
		background-image: linear-gradient(120deg, #3b41c5 0%, #a981bb 50%, #ffc8a9 100%);
		background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);

		@media (max-width: $tablet) {
			padding-left: 1.41575em;
			padding-right: 1.41575em;
			margin: 0;
		}
	}

	// left part
	.site-branding {
		display: block;
		width: 15%;
		margin: 1.5em 3% 1.5em 0;

		@media (max-width: $tablet) {
			width: 100%;
			float: none;
			margin-top: 0;
			margin-left: auto;
			margin-right: auto;

			img {
				margin: 0 auto;
			}
		}
	}

	// center part
	 .secondary-navigation {
		width: 55%;
		margin: 2.5em 3% 1.5em 0;

		ul.menu a {
			position: relative;
			display: block;
			padding: 0;
			font-size: 1.6em;
			color: #fff;

			&:hover {
				cursor: default;
				pointer-events: none;
			}

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -10px;
				width: 100%;
				height: 1px;
				background-color: #fff;
			}

			@media (max-width: $tablet) {
				width: 100%;
				text-align: center;
			}
		}

		@media (max-width: $tablet) {
			display: block;
			width: 100%;
			margin-top: 1em;
			margin-bottom: 1em;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media (max-width: $tablet) {
		padding: 0;

		// phones block
		.site-search {
			display: block;
		}

		.storefront-primary-navigation {
			text-align: center;
			background-color: transparent;

			button.menu-toggle {
				float: none;
				margin-bottom: 1em;
			}
		}
	}
}

// main navigation
.site-header .storefront-primary-navigation,
.site-header-cart .widget_shopping_cart,
.main-navigation ul.menu ul.sub-menu,
.main-navigation ul.nav-menu ul.children {
	background-color: $gray-dark;
}

// links color
.main-navigation ul li a,
.site-title a,
ul.menu li a,
.site-header-cart .widget_shopping_cart,
.site-header .product_list_widget li .quantity {
	color: #fff !important;
}
