// base style
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: $font_helvetica;
	overflow-x: hidden;
  text-rendering:  optimizeLegibility;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

dd, dl, dt {
	margin: 0;
	padding: 0;
}

a {
	transition: all 0.5s ease;

	&:hover,
	&:active,
	&:focus {
		// color: $color_link_hover;
	}
}

#content > .col-full {
	background: url('../assets/images/backround-repeat.png') center repeat;
}

.col-full {
	max-width: 1010px;

	@media (min-width: $tablet) {
		padding: 0 35px;
	}
}

.page-wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
}

.container {
	@include container;
}

// back to top
.back-top {
	z-index: 1001;
	position: fixed;
	bottom: 2rem;
	right: 2rem;

	a {
		display: block;
		width: 4rem;
		height: 4rem;
		background: url("../img/icons/to-top.png") center no-repeat;
		background-size: contain;
		text-align: center;
		text-decoration: none;
		text-indent: -9999px;
		opacity: 0.3;
		transition: all 0.5s ease;

		&:hover,
		&:active,
		&:focus {
			outline: none;
			cursor: pointer;
			opacity: 0.6;
		}
	}
}
